name: Build Portable Linux Python Packages

on:
  workflow_dispatch:
    inputs:
      artifact_github_repo:
        description: GitHub repository for artifact_run_id
        type: string
        default: ROCm/TheRock
      artifact_run_id:
        description: Workflow run ID to download artifacts from
        type: string
        default: "17865324892" # TODO: default to the most recent successful run (using a script)
      artifact_group:
        description: "The artifact group to build (ex: gfx94X-dcgpu, gfx101X-dgpu, gfx1151, gfx120X-all)"
        type: string
      package_version:
        type: string
      repository:
        description: "Repository to checkout. Otherwise, defaults to `github.repository`."
        type: string
      ref:
        description: "Branch, tag or SHA to checkout. Defaults to the reference or SHA that triggered the workflow."
        type: string
  workflow_call:
    inputs:
      artifact_github_repo:
        type: string
      artifact_run_id:
        type: string
        default: ""
      artifact_group:
        type: string
      package_version:
        type: string
      repository:
        description: "Repository to checkout. Otherwise, defaults to `github.repository`."
        type: string
      ref:
        description: "Branch, tag or SHA to checkout. Defaults to the reference or SHA that triggered the workflow."
        type: string

permissions:
  contents: read

run-name: Build portable Linux Python Packages (${{ inputs.artifact_group }}, ${{ inputs.package_version }})

jobs:
  build_rocm_wheels:
    name: Build Python | ${{ inputs.artifact_group }}
    # Note: GitHub-hosted runners run out of disk space for some gpu families
    runs-on: ${{ github.repository_owner == 'ROCm' && 'azure-linux-scale-rocm' || 'ubuntu-24.04' }}
    permissions:
      id-token: write
    container:
      image: ghcr.io/rocm/therock_build_manylinux_x86_64@sha256:db2b63f938941dde2abc80b734e64b45b9995a282896d513a0f3525d4591d6cb
      options: -v /runner/config:/home/awsconfig/
    outputs:
      package_find_links_url: ${{ steps.upload.outputs.package_find_links_url }}
    env:
      AWS_SHARED_CREDENTIALS_FILE: /home/awsconfig/credentials.ini
      ARTIFACT_RUN_ID: "${{ inputs.artifact_run_id != '' && inputs.artifact_run_id || github.run_id }}"
      ARTIFACTS_DIR: "${{ github.workspace }}/artifacts"
      PACKAGES_DIR: "${{ github.workspace }}/packages"
      IS_PR_FROM_FORK: ${{ github.event.pull_request.head.repo.fork }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ inputs.repository || github.repository }}
          ref: ${{ inputs.ref || '' }}

      - name: Install Python requirements
        run: pip install -r requirements.txt

      - name: Fetch artifacts
        run: |
          python ./build_tools/fetch_artifacts.py \
            --run-github-repo="${{ inputs.artifact_github_repo }}" \
            --run-id="${{ env.ARTIFACT_RUN_ID }}" \
            --artifact-group="${{ inputs.artifact_group }}" \
            --output-dir="${{ env.ARTIFACTS_DIR }}"

      - name: Build Python packages
        run: |
          python ./build_tools/build_python_packages.py \
            --artifact-dir="${{ env.ARTIFACTS_DIR }}" \
            --dest-dir="${{ env.PACKAGES_DIR }}" \
            --version="${{ inputs.package_version }}"

      - name: Configure AWS Credentials for non-forked repos
        if: ${{ !github.event.pull_request.head.repo.fork }}
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::692859939525:role/therock-ci

      # NOTE: we use `github.run_id` and NOT `env.ARTIFACT_RUN_ID` here!
      # This ensures that if they are different we _download_ artifacts from the
      # input run's subdirectory and _upload_ to our current run's subdirectory.
      - name: Upload Python packages
        id: upload
        run: |
          python build_tools/github_actions/upload_python_packages.py \
            --input-packages-dir="${{ env.PACKAGES_DIR }}" \
            --artifact-group="${{ inputs.artifact_group }}" \
            --run-id="${{ github.run_id }}"

  # TODO: take test_runs_on as an optional workflow input so we can compute
  #       upfront in setup.yml when run as part of ci.yml?
  # (This is forked from build_portable_linux_pytorch_wheels.yml)
  generate_target_to_run:
    name: Generate target_to_run
    runs-on: ubuntu-24.04
    outputs:
      test_runs_on: ${{ steps.configure.outputs.test-runs-on }}
    steps:
      - name: Checking out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ inputs.repository || github.repository }}
          ref: ${{ inputs.ref || '' }}

      - name: Generating target to run
        id: configure
        env:
          TARGET: ${{ inputs.artifact_group }}
          PLATFORM: "linux"
          # Variable comes from ROCm organization variable 'ROCM_THEROCK_TEST_RUNNERS'
          ROCM_THEROCK_TEST_RUNNERS: ${{ vars.ROCM_THEROCK_TEST_RUNNERS }}
          LOAD_TEST_RUNNERS_FROM_VAR: false
        run: python ./build_tools/github_actions/configure_target_run.py

  test_rocm_wheels:
    name: Test Python | ${{ inputs.artifact_group }} | ${{ needs.generate_target_to_run.outputs.test_runs_on }}
    if: ${{ needs.generate_target_to_run.outputs.test_runs_on != '' }}
    needs: [build_rocm_wheels, generate_target_to_run]
    uses: ./.github/workflows/test_rocm_wheels.yml
    with:
      amdgpu_family: ${{ inputs.artifact_group }}
      test_runs_on: ${{ needs.generate_target_to_run.outputs.test_runs_on }}
      package_find_links_url: ${{ needs.build_rocm_wheels.outputs.package_find_links_url }}
      python_version: "3.12"
      rocm_version: ${{ inputs.package_version }}
      repository: ${{ inputs.repository || github.repository }}
      ref: ${{ inputs.ref || '' }}
